body {
  text-align: center;
  max-height: 90vh;
}



.carousel{
  min-height: 65vh;
}



nav {
  margin: auto;
  text-align: center;
}
.nav-item{
  margin: 10px 15px;
}

header{
  margin-bottom: 15px;
}

h2{
  background-color: #212529;
  color: rgb(244, 236, 236);
  padding: 30px;
}
.carousel-caption {
  background-color: #212529;
}